
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html{
  font-size: 62.5%;
}

@font-face {
  font-family:openSans-normal ;
  src: url(./fuentes/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family:openSans-italy  ;
  src: url(./fuentes/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: Anton-Regular;
  src: url(./fuentes/Anton-Regular.ttf);
}

@font-face {
  font-family: FugazOne-Regular;
  src: url(./fuentes/FugazOne-Regular.ttf);
}

.navegador {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
  }
  
  .navegador ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin: auto;
  }
  
  .navegador li {
    margin-left: 1rem;
  }
  
  .navegador a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 2rem;
    transition: all 0.3s ease;
    font-size: 2.2rem;
    font-family:FugazOne-Regular;
    margin:auto;
  }
  
  .ancor-nav:hover {
    background-color: #fff;
    color: #333;
    padding: 1.5rem;
  }
  
  .caja-buscador {
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .buscador-nav[type="text"] {
    border: none;
    padding: 0.5rem;
    margin-left: 1rem;
    border-radius: 0.25rem;
    font-size: 2.2rem;
    font-family: FugazOne-Regular;
    background-color: #f2f2f2;
    margin:auto;
  }

  .button-nav {
    background-color: #4CAF50;
    color: white;
    padding: 5px 20px;
    margin-top: 8px;
    margin-left: 10px;
    font-size: 2.2rem;
    font-family: FugazOne-Regular;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin:auto;
  }


  .button-nav:hover{
    background-color: aqua;
    color: black;
  }

.contenido .banner{
    display: flex;
    flex-direction: row;
    background-color: #4CAF50;
  }

/* ::::::::::::ESTILOS DEL CONTENIDO:::::::::::::: */

  /* Estilos  del banner */

.banner h1{
  font-size: 56px;
  font-family: opensans-normal;
}

.banner p{
  font-size: 2rem;
  font-family:openSans-normal;
}

.banner .contenido-txt{
  margin: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 50rem;
  padding-top: 100px;
}


.banner .img-banner{
  height: 50rem;
  width: 75rem;
  object-fit: cover;
}

.carousel {
  margin: auto;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-container {
  display: flex;
  width: calc(100% * 3);
  transition: transform 0.5s ease;
}
.carousel-slide {
  flex: 1;
  width: 100%;
}
.carousel-slide img {
  width: 100%;
  height: auto;
}
.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}
.carousel-prev {
  left: 20px;
}
.carousel-next {
  right: 20px;
}
.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: absolute;
  top: 450px;
  right: 45%;
  
}
.carousel-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
}
.carousel-dot.active {
  background-color: #4CAF50;
}


/* Estilos  de esplicación*/

.E-learning {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Explication h2{
  font-family: FugazOne-Regular;
  font-size: 5rem;
  padding: 5rem;
  color: #4CAF50;
}

